* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  border: 0;
}

:root {
  --primary: #f4e04d;
  --secondary: #A4BDD8;
  --text: #686D77;
  --sky: #A0ADB8;
  --shadow: rgb(57, 67, 77);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


.main-container {
  height: 100%;
  width: 100%;
  color: white;
}

.background-img  {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./img/BackgroundFirstTry2.jpg);
  background-size: cover;
  border-radius: 3px;
}

.home-container {
  width: 100vw;
  height: 100vh;
  border: 5px solid white;
}

.title-box {
  display: flex;
  font-weight: 700;
  /* height: 0px; */
  /* margin: -12px 0 0 0; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.first-name {
  position: relative;
  /* height: 74px; */
  font-size: 100px;
}

.first-name-face {
  display: none;
  position: absolute;
  margin: 18px 77px;
  z-index: 1;
}

.first-name-face img {
  width: 56px;
  /* margin: -30px 2 0 0; */
}

.last-name {
  font-size: 100px;
}

.title-box hr {
  width: 45%;
  margin: 12.5px 0;
  border-top: 2px solid white;
}

.web-dev {
  font-size: 35px;
}

.ul-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

ul .home {
  width: 64px;
}

ul .about {
  transform: scale(1.5);
}

li {
  cursor: pointer;
}

li:hover {
  transform: scale(1.5);
}

.content-container {
  display: flex;
  justify-content: space-between;
  height: 88%;
  width: 100%;
  margin: 60px 0 0 0;
  padding: 15px;
  border: 3px solid white;
  /* color: #A8B1C0; */
  /* background: rgba(255, 255, 255, 0.699); */
  border-radius: 10px;
}

.left-box {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  /* border: 3px solid white; */
}

.right-box {
  flex: 1;
  border: 3px solid white;
}
