* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  border: 0;
}

:root {
  --primary: #f4e04d;
  --secondary: #A4BDD8;
  --text: #686D77;
  --shadow: rgb(57, 67, 77);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: var(--text);
}


.main-container {
  height: 100%;
  width: 100%;
  color: white;
  background: white;
  /* background-attachment: fixed; */
  /* border-radius: 3px; */
}

.background-img  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(./img/BackgroundFirstTry2.jpg);
  background-size: cover;
  border-radius: 3px;
  /* box-shadow: inset 0px 0px 10px var(--shadow); */
}

.home-container {
  width: 100vw;
  height: 100vh;
  border: 7px solid white;
}

.about-container, 
.portfolio-container, 
.contact-container {
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background: white;
  border: 8px solid var(--text);
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-box {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}

.first-name {
  position: relative;
  height: 190px;
  font-size: 195px;
  font-weight: 900;
  /* text-shadow: 3px 2px 3px var(--shadow); */
}

.first-name-face {
  position: absolute;
  margin: 29px 2;
  z-index: 1;
}

.first-name-face img {
  width: 115px;
}

.last-name {
  font-size: 90px;
  font-weight: 900;
  /* text-shadow: 3px 2px 3px var(--shadow); */
}

.title-box hr {
  width: 45%;
  margin: 12.5px 0;
  border-top: 2px solid white;
  /* box-shadow: 2px 2px 3px var(--shadow); */
}

.web-dev {
  font-size: 35px;
  /* text-shadow: 3px 2px 3px var(--shadow); */
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content img {
  height: 15%;
  margin-bottom: 575px;
}

.about-container, .portfolio-container, .contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.side-words {
  text-align: center;
  font-size: 60px;
  word-wrap: break-word;
  padding: 0 0 0 25px;
  width: 90px;
}

.portfolio-content {
  display: flex;
  justify-content: flex-end;
}

.portfolio-content .side-words {
  width: 65px;
  padding: 0 25px 0 0;
}