* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  border: 0;
}

:root {
  --primary: #f4e04d;
  --secondary: #A4BDD8;
  --text: #686D77;
  --sky: #A0ADB8;
  --shadow: rgb(57, 67, 77);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: var(--text);
}


.main-container {
  height: 100%;
  width: 100%;
  color: white;
  background: white;
}

.background-img  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(./img/BackgroundFirstTry2.jpg);
  background-size: cover;
  border-radius: 3px;
}

.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 5px solid white;
}

.about-container, 
.portfolio-container, 
.contact-container {
  width: 100vw;
  height: 100vh;
  color: var(--text);
  background: white;
  border: 8px solid var(--text);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  border-radius: 15px;
} 

ul {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: white;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

ul .home {
  width: 64px;
  transform: scale(1.5);
  /* border-bottom: 2px solid white; */
}

a {
  text-decoration: none;
  color: white;
}

li {
  cursor: pointer;
}

li:hover {
  transform: scale(1.5);
}

.title-box {
  display: flex;
  width: 100%;
  margin: -7px 0 0 0;
  flex-direction: column;
  align-items: center;
}

.first-name {
  position: relative;
  height: 190px;
  font-size: 195px;
  font-weight: 900;
}

.first-name-face {
  position: absolute;
  margin: 29px 2;
  z-index: 1;
}


.first-name-face img {
  width: 115px;
}

.last-name {
  font-size: 90px;
  font-weight: 900;
}

.title-box hr {
  width: 45%;
  margin: 12.5px 0;
  border-top: 2px solid white;
}

.web-dev {
  font-size: 35px;
}

/* --------test modal open-------- */
/* .background-img {
  justify-content: flex-start;
}

.title-box {
  position: relative;
  z-index: 1;
  height: 45px;
}

.first-name {
  font-size: 90px;
  height: 85px;
}

.first-name-face img {
  width: 49px;
  margin: -9px 2 0 0;
}

.last-name {
  font-size: 42px;
}

.title-box hr {
  display: none;
}

.web-dev {
  display: none;
}
*/


/* --------test modal open-------- */


.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content img {
  height: 15%;
  margin-bottom: 575px;
}

.about-container, .portfolio-container, .contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.side-words {
  text-align: center;
  font-size: 60px;
  word-wrap: break-word;
  padding: 0 0 0 25px;
  width: 90px;
}

.portfolio-content {
  display: flex;
  justify-content: flex-end;
}

.portfolio-content .side-words {
  width: 65px;
  padding: 0 25px 0 0;
}